.container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://cdn.pixabay.com/photo/2016/06/03/12/42/popcorn-1433327_1280.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.container form {
  display: flex;
  background-color: white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
  padding: 30px 0;
  width: 400px;
  border-radius: 10px;
}
.container form h4 {
  padding-bottom: 20px;
}
.container form h5 {
  font-size: 20px;
  width: 250px;
  color: rgb(101, 167, 2);
}
.container input,
button {
  width: 250px;
}

@media (max-width: 992px) and (min-width: 480px) {
  .container form {
    width: 60%;
  }
}

@media (max-width: 480px) {
  .container form {
    width: 80%;
  }
}
